body {
  background-color: #1e1b2e;
  color: #e0caff;
  font-family: "Cinzel", serif;
  margin: 0;
  padding: 0;
}

.main-layout {
  display: flex;
  justify-content: center;
  padding: 4rem;
  gap: 3rem;
}

.log-in-page {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffb347;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 30px auto;
  font-size: 1.1rem;
  color: #e0caff;
}

label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 5px;
  color: #ffb347;
}

input {
  display: block;
  margin: 0 auto 20px;
  padding: 12px;
  width: 250px;
  border-radius: 10px;
  border: none;
  background-color: #2d2d3a;
  color: #e0caff;
  font-size: 1rem;
}

.grid-buttons {
  text-align: center;
  margin-top: 20px;
}

.grid-buttons button {
  margin: 0 8px;
  padding: 10px 16px;
  background-color: #3f3f5e;
  color: #e0caff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.grid-buttons button:hover {
  background-color: #56567a;
}

.play-btn {
  padding: 10px 16px;
  margin: 3em;
  width: 150px;
  height: 80px;
  background-color: #ffb347;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.leaderboard {
  flex: 1;
  border: 1px solid #ffb347;
  border-radius: 6px;
  padding: 2rem;
  background-color: #1a1a2b;
  max-width: 350px;
  position: relative;
  right: 200px;
}

.score-board table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.score-board th,
.score-board td {
  padding: 0.75rem 1rem;
  text-align: left;
  color: #e0caff;
  font-size: 1rem;
}

.score-board th {
  color: #caaaff;
  font-weight: 600;
  font-size: 1.1rem;
}

.score-board tbody > * {
  border: 1px solid #ffb347;
}
