body {
  background-color: #0a0f0d;
  color: #39ff14;
  font-family: "Cinzel", serif;
  margin: 0;
  padding: 0;
}

.main-layout {
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.log-in-page {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #39ff14;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #39ff14;
  font-size: 3em;
}

.description {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 30px auto;
  font-size: 1.1rem;
  color: #b2fba5;
}

label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 5px;
  color: #b76eff;
}

input {
  display: block;
  margin: 0 auto 20px;
  padding: 12px;
  width: 250px;
  border-radius: 10px;
  border: none;
  background-color: #1f1b2e;
  color: #39ff14;
  font-size: 1rem;
  box-shadow: 0 0 8px #39ff14;
}

.grid-buttons {
  text-align: center;
  margin-top: 20px;
}

.grid-buttons button {
  margin: 0 8px;
  padding: 10px 16px;
  background-color: #232323;
  color: #39ff14;
  border: 2px solid #39ff14;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0 6px #39ff1466;
}

.grid-buttons button:hover {
  background-color: #0f0;
  color: #000;
  transform: scale(1.05);
}

.play-btn {
  padding: 10px 16px;
  margin: 3em;
  width: 150px;
  height: 80px;
  background-color: #39ff14;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #0a0f0d;
  border-radius: 10px;
  box-shadow: 0 0 15px #39ff14;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.play-btn:hover {
  background-color: #b2fba5;
  transform: scale(1.05);
}

.leaderboard {
  align-self: flex-start;
  flex: 1;
  border: 2px solid #b76eff;
  border-radius: 10px;
  padding: 2rem;
  background-color: #1f1b2e;
  max-width: 350px;
  margin-top: 15em;
}

.score-board table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.score-board th,
.score-board td {
  padding: 0.75rem 1rem;
  text-align: left;
  color: #e0caff;
  font-size: 1rem;
  border-bottom: 1px solid #39ff14;
}

.score-board th {
  color: #b76eff;
  font-weight: 600;
  font-size: 1.1rem;
}

.score-board tbody > tr {
  transition: background-color 0.2s ease;
}

.score-board tbody > tr:hover {
  background-color: #292541;
}
